{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Arithmetic Palace</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link href= "{% static '/home/css/style.css' %}" rel="stylesheet">

</head>
{% block content %}
<body>
    
    (Ch1)& Numeration of the whole number && <br>
        1.1(Les>& Units &&<br>
        1.1.1(Sec>& We can only count things of the same kind, that is, that have the same name, the thing is the unit. Any other quantity of that kind can be expressed as a multiple of the unit. &&<br>
        1.1.2(Sec>& A unit of measurement is a definite magnitude of a quantity, defined and adopted by convention or by law, that is used as a standard for measurement of the same kind of quantity. Any other quantity of that kind can be expressed as a multiple of the unit of measurement. &&<br>
        1.1.2.1(Sec>& a unit - “one” is the source of a number of anything. We count units. &&<br>
        1.2(Les>& Numerals (pg 6) &&<br>
        1.2.1(Sec>& Numerals are symbols for the counting names “1,2,3,4,ect” &&<br>
        1.3(Les>& The sequence of counting names (pg 6) &&<br>
        1.3.1(Sec>& the sequence of names is linked with their cardinality: how many. We say that each number is one more than the previous number &&<br>
        1.4(Les>& Tens &&<br>
        1.4.1(Sec>& Once ten is reach 10 becomes the new unit to count. The number of 10's units is indicated in the second column from the right. Same for all the powers of 10 once reached. One hundred is a collection of 10 tens units. It also becomes a unit to be counted once its reached. &&<br>
        1.4.1.1(Sec>& really just using the digits 0-9 to count and then notating a power of ten in places once its reached and then starting over counting with the ones digit. &&<br>
        (Ch2>& Reading and writing whole numbers the powers of 10:<br>
        2.1(Les>& What are the ten digits? Hand<br>
        2.1.1(Sec>& The ten symbols 0, 1, 2, 3, 4, 5, 6, 7, 8, 9<br>
        2.2(Les>& Which numbers are the powers of 10?<br>
        2.2.1.(Sec>& They are the numbers produced when, starting with one, we continue collecting them (the numbers) into groups of 10. 10 ones. 10 Tens. 10 hundreds. 10 thousands<br>
        2.2.1.2(Notes>& Them  = (the numbers)? Each set of ten being counted to make up the next power (100) could be thought of as a seperate group being counted. Starting at 0 10 different times and collecting 10 ones units. Each 10's unit is a separate entity<br>
        2.2.1.3(Notes>&  2. 20 = 2 10's powers of 10; 20 is not a power<br>
        2.3(Les>& What are the names of the classes?<br>
        2.3.1(Sec>& 1. 1s, thousands, millions; each class is a grouping of 3 consecutive powers of 10<br>
        2.4(Les>& what is the value of each place? <br>
        2.4.1(Sec>& Starting with the place on the right, each place belongs to the next power of 10. The organizing principle of our system of numbers are the powers of 10. Starting with the one on the right we have chosen the powers of 10 to be the units. There are 3 of that unit (hundreds) 6 of that unit (tens) and four of that unit (ones) 364.<br>
        2.5(Les>& What is the relationship between units of adjacent place value? Reale Jason – Jason playing soccer for Real Madrid<br>
        2.5.1(Sec>& Ten units of lower place value can be composed – grouped together – to make one unit of the next higher value. Equivalently one unit of higher place value can be decomposed – broken up – into ten units of the next lower place value. At each place you are counting powers of 10 unit you get to another group of 10.<br>
        3.(Ch3>& The meaning of decimals<br>
        A decimal is a proper fraction which is a number less than 1. It is a  part of number 1<br>
        3.1(Les>& what are the names of the cardinal numbers<br>
        3.1.1(Sec>& one, two, three, ect. Answers the question how many<br>
        3.2(Les>& what are the names of the ordinal numbers<br>
        3.2.1(Sec>& definition<br>
        3.2.1.1(Sec>& first, second, third, so on. Answers the question which one.<br>
        3.2.2(Sec>& division into equal parts<br>
        3.2.2.1(Sec>& If we divide 15, into three equal parts – into three 5's. We say that 5 is the third part of 15 because 15 is the third multiple of 5: 5, 10, 15. We use that same ordinal number to name the part<br>
        3.3(Les>& which numbers are the decimal units<br>
        3.3.1(Sec>& The numbers are units that are created when starting with  the ones unit each unit is divided into 10 equal parts which each become a unit (1/10) that can be further divided by 10 or counted<br>
        3.3.1.2(Notes>& 387: each decimal digit indicates the number of tenths, hundredths, thousandths, so on<br>
        3.3.1.2.1(Notes>& 387 thousandths or 3 x tenths + 8 hundredths + 7 thousandths<br>
        3.3.1.3(Notes>& place value:<br>
        3.3.1.3.1(Notes>& as with whole numbers each place is ten times the place to its right<br>
        
        {% for post in object_list %}

        <ul>
           <li> {{ post.title }} <br/>
            {{ post.body }} </li>
        </ul>
        {% endfor %}
        
</body>
{% endblock content %}


</html>